# Kickstarter dataset
## Prédire la probabilité de valider une campagne de financement participatif en travaillant le type de projet, le montant des fonds demandés et la durée de la campagne.

In [65]:
import seaborn as sns
import pandas as pd
import numpy as np

dt = pd.read_csv("/content/drive/My Drive/Colab Notebooks/ks-projects-201801.csv")
dt

                ID  ... usd_goal_real
0       1000002330  ...       1533.95
1       1000003930  ...      30000.00
2       1000004038  ...      45000.00
3       1000007540  ...       5000.00
4       1000011046  ...      19500.00
...            ...  ...           ...
378656   999976400  ...      50000.00
378657   999977640  ...       1500.00
378658   999986353  ...      15000.00
378659   999987933  ...      15000.00
378660   999988282  ...       2000.00

[378661 rows x 15 columns]

preprocessing

In [66]:
# Isoler X

# Drop data non pertinente
X = dt.drop(['name','ID','currency','pledged','state','backers','country','usd pledged','usd_pledged_real','usd_goal_real','deadline','launched'], axis='columns') 

X['category'] = X['category'].astype('category').cat.codes
X['main_category'] = X['main_category'].astype('category').cat.codes

In [67]:
#calculer dates en nombres de jours
import time as timelibrary
import datetime

def get_delta(end,start):
  list_duration = []
  for i in range(len(end)):
    date, time = start[i].split(" ")
    end_date = timelibrary.mktime(datetime.datetime.strptime(end[i], "%Y-%m-%d").timetuple())
    start_date = timelibrary.mktime(datetime.datetime.strptime(date, "%Y-%m-%d").timetuple())
    list_duration.append(end_date - start_date)
  return list_duration

X['date_duration'] = get_delta(dt['deadline'],dt['launched'])

In [68]:
# Isoler Y (target) 
Y = dt['state'].str.contains('canceled').replace(False, 'failed') # Interpréter annulé comme un échec
Y = Y.astype('category').cat.codes
Y

0         1
1         1
2         1
3         1
4         0
         ..
378656    0
378657    1
378658    1
378659    1
378660    1
Length: 378661, dtype: int8

In [69]:
from sklearn.model_selection import train_test_split

X_tr, X_te, Y_tr, Y_te = train_test_split(X, Y, random_state=15, stratify=Y)

In [70]:
from sklearn.neighbors import KNeighborsClassifier as KNN

knn = KNN(n_neighbors=3)
knn.fit(X_tr, Y_tr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [71]:
def accuracy(preds, target):
    M = target.shape[0] # Nombre de lignes
    total_correctes = (preds == target).sum()
    return total_correctes / M # Accuracy

predictions = knn.predict(X_te)
accuracy(predictions, Y_te)

0.8745906661314516