## Evaluation

KPI : Pour "Key Performance Indicator" est un indicateur pris en compte pour mesurer l'efficacité globale d'un dispositif commercial ou marketing. Cela aide à définir les besoins métier.

#### Importer les librairies

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

#### Importer et le dataset

In [6]:
df = pd.read_csv('../data/eval_data.csv')

#### Afficher, et décrire les colonnes de notre dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
Unnamed: 0            4622 non-null int64
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4522 non-null object
dtypes: int64(3), object(3)
memory usage: 216.7+ KB

#### Afficher les statistiques descriptives du dataset

In [8]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

#### Afficher les 10 premières lignes du dataset

In [9]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Afficher la dimension du dataset

In [10]:
df.ndim

2

In [11]:
df.shape

(4622, 6)

#### Nombre d'items commandés

In [14]:
df['quantity'].sum()

4972

#### Item le plus commandé

In [13]:
df2 = df
df2f2.drop(columns=['choice_description', 'item_price'])
df2.groupby(by=['item_name']).sum().sort_values(by=['quantity'], ascending=False).head(1).drop(columns=["Unnamed: 0", "order_id"])

              quantity
item_name
Chicken Bowl       761

#### Chiffre d’affaire realisé par la société

In [16]:
def convert_to_float(s):
    ss = str(s[1:])
    return float(ss)

df3 = df.dropna()
df3['item_price'] = df3['item_price'].apply(convert_to_float)
CA = df3["item_price"].sum()
CA

/home/dhancq/.local/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

30422.22

#### Revenu moyen par commande

In [17]:
CA/df["order_id"].max()

16.587906215921485