## Evaluation

KPI : facteurs pris en compte pour mesurer l'efficacité globale d'un dispositif commercial ou marketing. Cela aide à définir les besoins métier.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [14]:
df = pd.read_csv('../data/eval_data.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
Unnamed: 0            4622 non-null int64
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4522 non-null object
dtypes: int64(3), object(3)
memory usage: 216.7+ KB

In [22]:
df.describe()

       Unnamed: 0   order_id   quantity
count    10.00000  10.000000  10.000000
mean      4.50000   2.500000   1.100000
std       3.02765   1.509231   0.316228
min       0.00000   1.000000   1.000000
25%       2.25000   1.000000   1.000000
50%       4.50000   2.500000   1.000000
75%       6.75000   3.750000   1.000000
max       9.00000   5.000000   2.000000

In [33]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [17]:
df.ndim

2

In [41]:
df['quantity'].sum()

11