In [52]:
import seaborn as sns
import pandas as pd
import numpy as np

fraud = pd.read_csv("/content/Fraud_Data.csv")
location = pd.read_csv("/content/IpAddress_to_Country.csv")
fraud

        user_id          signup_time  ...    ip_address  class
0         22058  2015-02-24 22:55:49  ...  7.327584e+08      0
1        333320  2015-06-07 20:39:50  ...  3.503114e+08      0
2          1359  2015-01-01 18:52:44  ...  2.621474e+09      1
3        150084  2015-04-28 21:13:25  ...  3.840542e+09      0
4        221365  2015-07-21 07:09:52  ...  4.155831e+08      0
...         ...                  ...  ...           ...    ...
151107   345170  2015-01-27 03:03:34  ...  3.451155e+09      1
151108   274471  2015-05-15 17:43:29  ...  2.439047e+09      0
151109   368416  2015-03-03 23:07:31  ...  2.748471e+09      0
151110   207709  2015-07-09 20:06:07  ...  3.601175e+09      0
151111   138208  2015-06-10 07:02:20  ...  4.103825e+09      0

[151112 rows x 11 columns]

In [53]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  float64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [54]:
def sci_to_int(d):
  iplist = []
  for i in range(len(d)):
    iplist.append(int(d[i]))
  return iplist

In [55]:
fraud['ip_address'] = sci_to_int(fraud['ip_address'])

In [56]:
location['lower_bound_ip_address'] = sci_to_int(location['lower_bound_ip_address'])
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  int64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.2+ MB

In [61]:
def get_country(ip) :
  try:
    return location.country[(location.lower_bound_ip_address <= ip) & (location.upper_bound_ip_address >= ip)].iloc[0]
  except IndexError :
    "empty"

In [62]:
fraud["IP_country"] = fraud.ip_address.apply(get_country)

In [63]:
fraud.head(10)

   user_id          signup_time  ... class     IP_country
0    22058  2015-02-24 22:55:49  ...     0          Japan
1   333320  2015-06-07 20:39:50  ...     0  United States
2     1359  2015-01-01 18:52:44  ...     1  United States
3   150084  2015-04-28 21:13:25  ...     0           None
4   221365  2015-07-21 07:09:52  ...     0  United States
5   159135  2015-05-21 06:03:03  ...     0         Canada
6    50116  2015-08-01 22:40:52  ...     0           None
7   360585  2015-04-06 07:35:45  ...     0  United States
8   159045  2015-04-21 23:38:34  ...     0          China
9   182338  2015-01-25 17:49:49  ...     0  United States

[10 rows x 12 columns]

In [ ]:
fraud.astype(['browser','sex','source','IP_country']).cat.codes

Y = fraud['class']
X = fraud.drop(['user_id','device_id','class'], axis='columns')